<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="someClassA" class="com.example.spring.example.SomeClassA">
        <property name="someClassB" ref="someClassB" />
    </bean>

    <bean id="someClassB" class="com.example.spring.example.SomeClassB">
    </bean>

</beans>

    <!-- конструктор
    <bean id="someClassB" class="com.example.spring.example.SomeClassB">
        <constructor-arg name="someClassA" ref="someClassA"/>
    </bean> -->

    <!-- сеттер
    <bean id="someClassA" class="com.example.spring.example.SomeClassA">
        <property name="someClassB" ref="someClassB" />
    </bean> -->


